{% extends "bricks/base.html" %}

{% block content %}
<div class="main-article">
    <h2><span class="fa fa-phone"></span> Kontakty</h2>
    <table class=phonebook>
        <tr>
            <td>
                <a href="tel:150">150</a>
            </td>
            <td>
                Tísňové volání HASIČI
            </td>
        </tr>
        <tr>
            <td>
                <a href="tel:+420608473002">+420 608 473 002</a>
            </td>
            <td>
                Martin Jurkovec, velitel JSDH Dobřichovice
            </td>
        </tr>
    </table>
</div>
<div class="main-article">
    <h2><span class="fa fa-question"></span> Co dělat když...</h2>
    <h3>Likvidace bodavého hmyzu</h3>
    <p>V případě aktulního ohrožení volejte na tísňovou linku 150. V ostatních případech využijte prosím služeb firem z okolí.</p>
    <table class="phonebook">
        <tr>
            <th colspan=2>
                Asana, Roman Šimák,
                Mníšek pod Brdy

            </th>
        </tr>
        <tr>
            <td>
                <a href="tel:+420603438492">+420 603 438 492</a>
            </td>
            <td>
                <a href="http://www.asanaddd.cz/dezinsekce">http://www.asanaddd.cz/dezinsekce</a>
            </td>
            
        </tr>
    </table>
    <h3>Ohlášení pálení</h3>
    <p>Pokud máte v úmyslu pálit větší množství klestí, větví apod., nezapomínejte toto ohlásit na HZS. Zamezíte tím zbytečnému vyjíždění jednotek IZS, které by mohly opravdu pomáhat jinde.</p>
    <p>Ohlášení můžete provést telefonátem na kladenské operační středisko: 950 874 444, nebo ještě lépe a jednodušeji přes internetovou aplikaci <a href="https://paleni.izscr.cz/">https://paleni.izscr.cz/</a></p>
</div>
{% endblock %}


{% block column %}
<h3>Kalendář</h3>
<p>Máme pro vás překvapení. Brzy více...</p>


{% endblock %}
